<h1>System Recovered</h1>

<ul>
    {% if lastevent_message is defined %}
        <li>Message: {{ lastevent_message }}</li>
    {% endif %}
    <li>System: {{ system_name }}</li>
    <li>Tool: {{ tool_name }}</li>

    {#<li>Time to Recover: {{  }}</li>#}
</ul>